h1
{
    color: blue;
    background-color: crimson;
}
.one{
    background-color: aqua
}
.two{
    background-color: cornsilk
}
#1{
    background-color: darkslateblue
}
#2{
    background-color: mediumvioletred
}
button{
    background-color: chartreuse
}